@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);

* {
    overflow: hidden;
}

.content {
    background-color: #22292f;
    color: #fff;
    height: 100vh;
}

@media (max-width: 999px) {
    .content {
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 60px;
    }

    .md-view {
        display: initial;
    }
}

@media (min-width: 1000px) {
    .md-view {
        display: none;
    }
}